:root{
    --soft-blue: hsl(215, 51%, 70%);
    --cyan: hsl(178, 100%, 50%);
    --very-dark-blue-main: hsl(217, 54%, 11%);
    --very-dark-blue-card: hsl(216, 50%, 16%);
    --very-dark-blue-line: hsl(215, 32%, 27%);
    --white: hsl(0, 0%, 100%);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    font-size: 18px;
    background-color: var(--very-dark-blue-main);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Outfit', sans-serif;
}

.card{
    background-color: var(--very-dark-blue-card);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    padding: 1.5em;
    width: 300px;
    border-radius: 10px;
    padding-bottom: 1.5em;
    box-shadow: 0px 10px 30px 15px rgba(0, 0, 0, 0.2);
}

.img-container{
    object-fit: cover;
    width: 100%;
    height: 60%;
    content: url("/images/image-equilibrium.jpg");
    border-radius: 10px;
}

.title{
    font-weight: 700;
}

.detail{
    color: var(--white);
    font-weight: 600;
    display: flex;
    flex-direction: column;
    gap: 1em;
    height: 40%;
    margin-top: 1.5em;
}

.comment{
    font-weight: 300;
    color: var(--soft-blue);
    font-size: .8em;
}

.price-time{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: .8em;
    font-weight: 400;
}

.price{
    display: flex;
    gap: .5em;
}

.price p{
    color: var(--cyan);
    display: block-inline;
}

.time{
    display: flex;
    gap: .5em;
}

.time p{
    color: var(--soft-blue);
}

hr {
    background-color: var(--very-dark-blue-line);
    border: none;
    height: 1px;
}

.author{
    display: flex;
    align-items: center;
}

.author img{
    height: 30px;
    width: 30px;
    border: 1px solid var(--white);
    border-radius: 100%;
}

.creation{
    margin-left: 1em;
    margin-right: .3em;
    color: var(--soft-blue);
}

.author p{
    font-weight: 300;
    font-size: .8em;
}